@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@mixin buttonStyle {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    background: $randorande6;
    border: none;
    width: fit-content;
    white-space: nowrap;
    padding: 1rem 0.7rem 0.7rem 0.7rem;
    border-radius: 4px;
    @include shadow;
    margin: 0.3rem 0;
    cursor: pointer;
    &:hover {
        background: $randorande8;
    }
}

.edit-page-main-container {
    @include flexCol;
    justify-content: flex-start;
    margin-top: 1.5rem;
    width: 100vw;
    height: 37rem;
    
    .journal_saved_message_div {
        height: 2rem;
    }

    .edit-loader {
        font-size: 2rem;
        animation: rotateAnimation 3s infinite linear;
    }


    .edit-container {
        @include flexCol;
        height: 90%;
        width: 90%;
        padding: 1rem 0;
        background-color: rgba(255, 255, 255, 0.500);
        color: $randorande1;
        
        &__back-btn {

            a {
                text-decoration: none;
                font-size: 1rem;
            }
        }

        &__title {
            font-size: 2rem;
            // margin-top: -9rem;
            margin-left: 1rem;
            color: $randorande2;
        }

        .edit-form {
            @include flexCol;

            height: 70%;
            width: 90%;
            //background-color: aquamarine;
            //border: solid 2px black;


            &__form {
                @include flexCol;
                align-items: flex-start;
                justify-content: space-around;

                height: 100%;
                width: 90%;
            }

            &__input--date,
            &__input--location {
                height: 1.5rem;
            }

            &__textarea {
                width: 97%;
                height: 60%;
            }

            &__button {
                @include buttonStyle;
            }
        }
    }

    @media (min-width: 768px) {
        .edit-container {
            @include flexCol;
            height: 70%;
            width: 60%;
            padding: 1rem 0;
            

            &__back-btn {

                a {
                    text-decoration: none;
                    font-size: 1rem;
                }
            }

            &__title {
                // font-weight: 200;
                font-size: 3rem;
                margin-left: 1rem;
                color: $randorande2;
            }

            .edit-form {
                @include flexCol;

                height: 70%;
                width: 90%;
                //background-color: aquamarine;
                //border: solid 2px black;


                &__form {
                    @include flexCol;
                    align-items: flex-start;
                    justify-content: space-around;

                    height: 100%;
                    width: 90%;


                }


                &__input--date,
                &__input--location {
                    height: 1.5rem;
                }

                &__textarea {
                    width: 97%;
                    height: 40%;
                }

                &__button {
                    align-self: center;
                    background-color: none;
                    font-size: 1rem;
                    @include buttonStyle;

                }



            }


        }
    }


}