.journal-parent {
    @include flexCol;
    //   height: 35rem;
    margin-top: 1.5rem;

    .journal-child {
        @include flexCol;
        justify-content: space-around;
        height: 100%;
        width: fit-content;
        max-width: 80%;
        background-color: rgba(255, 255, 255, 0.5);
        color: $randorande1;
        padding: 1rem;

        .user-detail-box {
            @include flexCol;

            &__image {
                width: 30%;
                padding: 0.5rem;
            }

            .user-detail-list {
                @include flexCol;
                align-items: flex-start;
                height: 70%;
                padding: 0.5rem;

                @media (min-width: 281px) {
                    align-items: flex-end;
                }

                &__username {
                    padding: 0;
                    margin: 0.4rem 0;
                    color: $randorande2;
                }

                &__info {
                    font-size: 1rem;
                    margin: 0.3rem 0;
                }
            }
        }

        .randes-box {
            @include flexCol;
            height: 80%;
            width: 80%;
            padding: 0.5rem 0;

            .randes-list {
                @include flexCol;
                justify-content: flex-start; /* Center vertically within .randes-box */
                align-items: flex-start;
                // white-space: nowrap;
                list-style: none;
                max-height: 300px;
                overflow-y: scroll;
                width: 90%;
                padding-left: 0;
                color: $randorande2;
                overflow: auto;

                &__item {
                    padding: 0.4rem 0;
                    

                    a {
                        text-decoration: none;
                        color: $randorande2;
                        cursor: pointer;
                        font-size: 1rem;

                        &:hover {
                            // unfortunately making the size bigger on hover like this doesn't look good
                            // font-size: 1.2rem;
                            color: $randorande2;
                            cursor: pointer;
                        }

                        &:visited {
                            font-size: 1rem;
                            color: $randorande2;
                            cursor: pointer;

                            &:hover {
                                // unfortunately making the size bigger on hover like this doesn't look good
                                // font-size: 1.2rem;
                                color: $randorande2;
                            }
                        }
                    }
                } // Add this closing brace for &__item
            }
        }
    }

    @media (min-width: 768px) {
        @include flexCol;
        width: 100%;

        .journal-child {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            justify-content: space-around;
            padding-top: 1rem;
            padding-right: 0;
            height: 90%;
            max-width: 80%;

            .user-detail-box {
                @include flexCol;
                width: 40%;
                padding: 1rem;

                &__image {
                    width: 50%;
                    padding: 0.5rem;
                }

                .user-detail-list {
                    @include flexCol;
                    height: 65%;
                    padding: 0 1rem 1rem 1rem;

                    &__username {
                        padding: 0.3rem;
                        margin: 0.4rem;
                    }

                    &__info {
                        white-space: nowrap;
                        font-size: 1rem;
                        margin: 0.3rem;
                    }
                }
            }

            .randes-box {
                @include flexCol;
                margin: 0 auto;
                // height: 90%;
                width: 55%;
                padding: 1rem 0;
                color: $randorande2;

                .randes-list {
                    @include flexCol;
                    justify-content: flex-start;
                    align-items: flex-start;
                    height: 100%;
                    width: 90%;
                    list-style: none;
                    text-align: justify;
                    overflow: auto;

                    &__item {
                        padding: 0.5rem 0;
                        margin-left: auto;
                        margin-right: auto;
                        white-space: nowrap;

                        a {
                            text-decoration: none;
                            color: $randorande2;
                            cursor: pointer;
                            font-size: 1.2rem;

                            &:hover {
                                // unfortunately making the size bigger on hover like this doesn't look good
                                // font-size: 1.2rem;
                                color: $randorande2;
                            }

                            &:visited {
                                color: $randorande2;
                                cursor: pointer;

                                &:hover {
                                    // unfortunately making the size bigger on hover like this doesn't look good
                                    // font-size: 1.2rem;
                                    color: $randorande3;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
