.journal-container {
  font-family: Arial, sans-serif;
  color: rgb(16, 3, 3);
  padding: 20px;
  text-align: center;

  h1 {
    margin-bottom: 20px;
   
  }

   a {
    text-decoration: none; 
    color: inherit; 

    &:hover {
      text-decoration: none; 
      color: inherit; 
    }
  }
    button {
        color: black;
        background-color: white;
        border: 1px solid black;
        padding: 5px 10px;
        cursor: pointer;
      }
  

  .randorande-data {
    border: 2px solid grey;
    padding: 20px;
    margin-top: 25px;
    text-align: center;

    .left-section {
      .data__rande-name,
      .data__rande-date,
      .date__rande-location{

        color: darkgrey;
      }
      .data__rande-description{
        margin-top: 1em auto;
        @media (min-width: 768px) {
          margin-top: 12em;
        }
      }

      .data__rande-photo {
        width: 50vw;
        
      }

      .data__rande-photo-placeholder {
        width: 30vw;
        height: 10vh;
        margin: 10px auto;
        margin-top: 2em;
        @media (min-width: 768px) {
        margin-top: 3em;
      }
    }

      .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: fit-content;
      

      @media (min-width: 768px) {
        display: flex;
    flex-direction: row;
    justify-content: space-around; 
    width: 200px;
    height: 80px; 
    margin: auto;
    margin-top: 1.5em;
    gap: 20px;
    width: fit-content;

      }

      .button-link, button {
        color: black;
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid black;
        background-color: white;
        transition: background-color 0.3s, color 0.3s;
       

        &:hover {
          background-color: black;
          color: white;
        }

        input[type="file"] {
          display: none;
        }
      }
    }
       

      
    }

    
  }




  



}


 



 
 

