.journal-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.5rem 0;

    .back-to-journal-btn {
        margin-top: 1rem;
        font-size: 1.3rem;
        background-color: $randorande5;
        @include buttonStyle;

        a {
            text-transform: uppercase;
            text-decoration: none;
            color: $randorande1;
        }
    }

    @media (min-width: 768px) {

        .back-to-journal-btn {
            padding-top: 2rem;
            font-size: 1.3rem;
            background-color: $randorande5;
            @include buttonStyle;

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $randorande1;

            }
        }
    }
}