

@mixin circle {
    border-radius: 9999px;
}
// main{

//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
   
// }
.container{
    background-color: rgba(255, 255, 255, 0.276);
    width: 80%;
    height: 90%;
    border-radius: .5%;
}
.about-us__headline__container {
    width: fit-content;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
    .about-us__headline {
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

.team__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    background: darkblue;
    width: 60%; /* Adjust the width as needed */
}

.team-member__container {
    display: flex;
    flex-direction: column;
    background: $randorande1;
    width: 100%;
}
.crisafi,
.kokoreva,
.blaho {
    // border-top: solid darkblue 5px;
    // border-right: solid darkblue 5px;
    // border-bottom: none;
    // border-left: solid darkblue 5px;
}

.daniels {
    // border-top: solid darkblue 5px;
    // border-right: solid darkblue 5px;
    // border-bottom: solid darkblue 5px;
    // border-left: solid darkblue 5px;
}

.team-member__img {
    width: 100%;
    // @include circle;
    // &:hover {
    //     border-radius: 0;
    // }
}

.team-member__name {
    text-align: center;
    background: $randorande4;
    padding: 0.5rem 0rem 0.5rem 0;
    margin: 0;
    // white-space: nowrap;
    overflow-wrap: break-word;
}

.about_us__text {
    text-align: 0;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 60%;
}

.link_to_search__container {
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
}

.link_to_search {
    text-decoration: none;
    color: darkblue;
    &:hover {
        text-decoration: underline;
    }
}

@media (min-width: 683px) {
    .crisafi,
    .kokoreva,
    .blaho,
    .daniels {
        margin: 0; // reset margins
        padding: 0; //reset padding
    }

    .team__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; /* Add this line */
        align-self: center;
        margin: 0 auto;
        // margin-bottom: 2rem;
        // background: darkblue;
        width: 60%;
        // border: darkblue solid 1.5px;
    }

    .team-member__container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background: $randorande4;
        width: 50%; /* Adjust this width as needed */
        margin: 0; /* Add margin between items if desired */
        // border: 3px solid darkblue;
    }
}

@media (min-width: 1044px) {
    .crisafi,
    .kokoreva,
    .blaho,
    .daniels {
        margin: 0; // reset margins
        padding: 0; //reset padding
    }

    .team__container {
        flex-direction: row;
        flex-wrap: none;
        width: 65%;
        margin-bottom: 0;
    }

    .team-member__container {
        width: 25%;
    }

    .about_us__text {
        width: 65%;
    }
}
