.date-detail-name{
  h3{
    font-size: 3rem;
    color: $randorande2;
    text-align: center;
  }
}
.date-detail-container{
  @include shadow;
  border-radius: 4px;
  background: rgba(70, 140, 164, 0.3);
  margin:10%;
  border: 1px solid $randorande2;
  margin-top: 3rem;
  


}
@media (max-width: 600px){
  // .date-detail-container{
  //   @include shadow;
  //   border-radius: 4px;
  //   background: rgba(70, 140, 164, 0.3);
  //   margin:10%;
  //   border: 1px solid $randorande2;
    


  // }

  .date-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .date-detail-image-description{
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    
    .date-detail-image{
        width: 80%;
        padding-left: 20% ;
        
        img{
            width: inherit;
            
        }
       
    }
  }

}
.date-detail-description {
    width: 65%;
    text-align: center;
    padding-left: 3%;
    button{
      @include buttonStyle;
      font-size: 15px;
      padding: 0.9rem 0.7rem 0.7rem 0.7rem;
      text-decoration: none;
      color: $black;
      a{
        text-decoration: none;
        color: $black;
      }
    }
    

}
// 

@media (min-width: 767px) {
  .date-detail-container{
    width: 64%;
  }
    .date-detail {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .date-detail-name {
      
      text-align: center;
      align-items: center;
      
      
      margin-bottom: 10px; /* Add margin to separate it from the other boxes */
    }
  
    .date-detail-image-description{
        display:flex;
        flex-direction: row-reverse;
        margin: auto 0;
        
       
        .date-detail-image {
        margin-left: 10px; /* Add margin between date-detail-image and date-detail-description */
        width: 99%;
        margin-bottom: 2%;
            img{
                width: 60%;
                margin-left: 10%;
                margin-bottom: 10%;
            }
        }
    
        .date-detail-description {
             width: 50%;
             margin-left: 15%;
             margin-top:  5%;
      
        }
        
    }
}