
@media (max-width: 600px){

    .date-detail{
        display:flex;
        align-content: center;
        flex-direction: column;
        align-items: center;
        margin: 5%;
    }
    .date-detail-image{
        display:flex;
        flex-direction: column;
        width: 30%;
  
        h3{
            text-align: center;
        }
    }
}
// 

@media (min-width: 767px) {
    .date-detail {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .date-detail-name {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: #3498db; /* For visibility, you can remove this in your actual code */
      margin-bottom: 10px; /* Add margin to separate it from the other boxes */
    }
  
    .date-detail-image {
      display: flex;
      flex-direction: column;
      width: 20%;
      margin-left: 10px; /* Add margin between date-detail-image and date-detail-description */
      align-items: center;
     
  
      h3 {
        text-align: center;
      }
    }
  
    .date-detail-description {
      display: flex;
      flex-direction: row;
      width: 60%; /* Adjust the width based on your design */
      align-items: center;
    }
  }
  