

@media (max-width: 600px){

  .date-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .date-detail-image-description{
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .date-detail-image{
        width: 80%;
        padding-left: 20% ;
        img{
            width: inherit;
        }
       
    }
  }

}
.date-detail-description {
    width: 65%;
    text-align: center;
    padding-left: 3%;
    

}
// 

@media (min-width: 767px) {
    .date-detail {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .date-detail-name {
      
      text-align: center;
      align-items: center;
      
      
      margin-bottom: 10px; /* Add margin to separate it from the other boxes */
    }
  
    .date-detail-image-description{
        display:flex;
        flex-direction: row-reverse;
        margin: auto 0;
        width: fit-content;
        .date-detail-image {
        margin-left: 10px; /* Add margin between date-detail-image and date-detail-description */
        width: 50%;
            img{
                width: inherit;
            }
        }
    
        .date-detail-description {
             width: 50%;
             padding-left: 20rem;
      
        }
        
    }
}