@mixin flexRowScratch {
    display: flex;
    flex-direction: row;
}

@mixin flexColScratch {
    display: flex;
    flex-direction: column;
}

@mixin scratchCardContentPosition {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin shadow {
    box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.1), 0 0 3px 1px transparent;
    // fix it to be less out there
}

@mixin curvedBorder {
    border-radius: 12px;
}

@mixin curvedBorderTop {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@mixin curvedBorderBottom {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.scratchOff {
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
}

.results_h1 {
    text-align: center;
    margin: 3rem auto 1rem auto;
    // max-width: 90%;
    color: $randorande1;
    font-size: 2rem;

    @media (min-width: 768px) {
        margin-top: 3rem;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
}

.scratch_instructions {
    text-align: center;
    margin: 0 1rem 1rem 0;
    color: $randorande2;
    font-size: 1.1rem;

    @media (min-width: 768px) {
        font-size: 1.1rem;
        margin-top: 0;
        color: $randorande2;
    }
}

// below div contains all 3 scratch-offs
.scratchOff_container__parent {
    @include flexColScratch; // mobile friendly, switch to row in bigger screen
    align-items: center;
    justify-content: space-around; // Adjust this value to control the spacing
    margin: 0 3rem; // Center the container horizontally
    margin-bottom: 5rem;
    padding: 1rem 1rem 0 1rem;
    border-radius: 4px;
    background-color: rgba(70, 140, 164, 0.3);
    border: 1px solid $randorande2;

    @media (min-width: 768px) {

        @include flexRowScratch;
        max-width: 900px;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 5rem;
        padding: 3rem;
        background: rgba(70, 140, 164, 0.3);
        border: 1px solid $randorande2;

    }
}

// below div contains 1 scratch-off
.scratchOff_container__child {
    @include flexColScratch;

    margin: 0.625rem;
    // background: $randorande4;
    //@include shadow;
    border: 2px solid $randorande1;
    border-radius: 4px;
    padding: 10px;
    //border-radius: 4px 4px 20px 64px;
    //background: rgba(70, 140, 164, 0.3);
    cursor: pointer;
    --webkit-transition-property: all;
    --webkit-transition-duration: 0.3s;
    --webkit-transition-timing-function: ease;

    &:hover {
        transform: scale(1.02);
        outline: 0;
    }
}

// below div contains just the scratch card with scratch area and reveal image
.scratchOff_container__child_scratch-card {
    position: relative;
    display: inline-block;
    /* ensure the scratch card only takes as much space as needed */
    width: 12rem;
    /* fixed width for the scratch card */
    height: 12rem;
    /* fixed height for the scratch card */
    // margin: 0.625rem; /* margin to separate the cards */

    border-radius: 0.3rem;
    margin-bottom: 0;
}

.scratch_card__mask {
    @include scratchCardContentPosition;
    z-index: 1;
    width: 100%;
    /* make the canvas cover the entire scratch card */
    height: 100%;
    border-radius: 0.3rem;
    //border-bottom: 2px solid $randorande2;
    @include shadow;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;

    &:hover {
        cursor: url("/images/cursors/coin-in-hand.png") 10 10, crosshair;
    }
}

.scratch_card__reveal-rande-img {
    @include scratchCardContentPosition;
    width: inherit;
    /* make the image cover the entire scratch card */
    height: auto;
    border-radius: 0.3rem;
    //border-radius: 4px 4px 0px 0px;
}

.scratchOff_container__child-hint-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    margin-top: 0;
    height: 2.5rem;
    min-height: 2.1rem;
    padding-top: 0.6rem;

    text-align: center;

    h5 {
        font-size: 16px;
        padding: 0;
        margin: 0;
        color: $randorande7;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}

.scratchOff_container__child-hint {
    font-size: 1rem;
    color: $randorande1;
    font-weight: 400;
    white-space: nowrap; // might not need this
}

.scratchOff_container__child-hint_img {
    height: 36px;
    width: 36px;
}

.button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;

}

.save_rande_btn {
    @include buttonStyle;
    padding: 0;
    padding: 0.7rem 0.4rem 0.5rem 0.4rem;
    margin: 0;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.edit-loader {
    margin: auto 0;
    text-align: center;
    font-size: 2rem;
    animation: rotateAnimation 3s infinite linear;
}

@media (max-width: 967px) {
    .scratchOff_container__parent {
        @include flexColScratch;
        margin: 0 3rem;
        background: none;
        border: none;
        box-shadow: none;
        margin-top: 2rem;
        background-color: rgba(70, 140, 164, 0.3);
        border: 1px solid $randorande2;
    }

    .scratchOff_container__child_scratch-card {
        width: 18rem;
        /* fixed width for the scratch card */
        height: 18rem;
        /* fixed height for the scratch card */
    }
}

@media (max-width: 560px) {
    .scratchOff_container__child_scratch-card {
        width: 10rem;
        /* fixed width for the scratch card */
        height: 10rem;
        /* fixed height for the scratch card */
    }
    .scratchOff_container__parent {
        width: fit-content;
        margin: 0 auto;
    }
}

    @media (max-width: 367px) {
    .scratchOff_container__child_scratch-card {
        width: 6rem;
        /* fixed width for the scratch card */
        height: 6rem;
        /* fixed height for the scratch card */  
}
}

@media (max-width: 367px) {
    .scratchOff_container__child-hint-container h5 {
        font-size: 9px;
}
}


