html body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to at least 100% of the viewport height */
    margin: 0;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
 
  body {
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    flex: 1;
  }



.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the start of the flex container */
    background-color: #f0f0f0;
    padding: 10px;
    flex-wrap: wrap; /* Allow items to wrap onto the next line if necessary */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .footer-col {
      flex: 1;
      padding: 0 10px;
      text-align: center; /* Center the content horizontally */
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          margin-bottom: 5px;
        }
      }
  
      .copyright {
        text-align: center; /* Center the copyright text */
        font-size: 12px;
        margin-right: 2rem;
      }
    }
  
    .footer-col-contactUs {
      flex: 1;
     
      padding: 0 10px;
      text-align: center; /* Center the content horizontally */
      margin-top: 10px; /* Add spacing between columns */
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
  
        li {
          margin-right: 10px;
        }
  
        a {
          text-decoration: none;
        }
      }
    }
  
    // Media query for responsiveness
    @media (max-width: 600px) {
      .footer-col,
      .copyright {
        display: none;
        
      }
  
      .footer-col-contactUs {
        margin-top: 0;
       
      }
    }
  }
  