@import "./variables";
@import "./layout/homepage";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";
@import "./layout/notfound";
@import "./search/datesearch";
@import "./search/scratchOff.scss";
@import "./search/revealed_date_detail";
@import "./myJournal/randelog"; 
@import "./myJournal/editRande";
@import "./myjournal/myjournal";
@import "./myJournal/subpagelayout";
@import "./auth/registration";
@import "./about-us/about-us";
@import "./myJournal/randelog";
@import "./auth/login";
@import "./faq/faq";




html {
    box-sizing: border-box; 
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    height: 100%;
    background: $randorande9;

        #randorande-app {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

}