@import "./variables";
@import "./layout/homepage";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/notfound";
@import "./search/datesearch";
@import "./search/scratchOff.scss";
@import "./search/revealed_date_detail";
@import "./about-us/about-us";

html {
box-sizing: border-box;}
*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
    height: 100vh;
    margin: 0;

    #randorande-app {
        height: 100%;
        width: 100%;
        margin: 0;
    }
}