@mixin flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// put color palette here
$randorande1: #201f1e; // footer color
$randorande2: #145267; // header color  // need a lighter shade for the dropdown burger
$randorande3: #468ca4; // dropdown color
$randorande4: #c4cacb;
$randorande5: #4e8fa1;
$randorande6: #f4b7a0; // button color // button rounded color is 4px
$randorande7: #e0dfcd; // "white"
$randorande8: #e7784f;
$randorande9: #e4e4e1; // "white"

// HEADER: dark blue, "white" color
// FOOTER: dark black, social media buttons orange with black symbols // hover effect underline for links


// font-family: 'Josefin Sans', sans-serif; //