@mixin flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin buttonStyle {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    background: $randorande6;
    border: none;
    width: fit-content;
    white-space: nowrap;
    padding: 1rem 0.7rem 0.7rem 0.7rem;
    border-radius: 4px;
    @include shadow;
    margin: 0.3rem 0;
    cursor: pointer;
    &:hover {
        background: $randorande8;
    }
}

@mixin shadow {
    box-shadow: 0 10px 13px -7px rgba(0, 0, 0, 0.4), 0 0 5px 2px transparent;
}

.homepage__instructions {
    width: 100%;
}

.homepage {
    @include flexCol;
    justify-content: flex-start;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;

    .logo {
        display: block;
        margin: 0 auto;
        margin-top: 0.5rem;
        width: 100%;
    }

    .modal_btn {
        @include buttonStyle;
    }

    .homepage__instructions-btn-trigger {
        @include buttonStyle;
    }

    &__instructions {
        @include flexCol;
        //color: grey; will be raplaced with main style color
        text-align: left;
        width: 100%;

        &-title {
            font-size: 2rem; // Smaller font for mobile
            font-weight: 400;
            color: $randorande7;
        }

        &-list {
            @include flexCol;
            height: 30%;
            list-style: none;
            line-height: 1.5;
            
        }

        &-item {
            color: $randorande7;
            text-align: left;
            width: 100%;
            font-size: 1.1rem;
            display: inline-block; // Make each list item inline-block
            margin-right: 10px;
        }

        &-btn-trigger {
            @include buttonStyle;
            padding: 0;
            text-decoration: none;
            color: black;
            height: fit-content;
            text-align: center;
            margin-bottom: 1.5rem;
            a {
                margin: 0;
                text-decoration: none;
            }
        }
    }

    .bg_img {
        width: inherit;
        height: inherit;
    }

    // styling for after smaller phones
    @media (min-width: 375px) {
        .modal_btn {
            font-size: 20px;
        }
    }

    @media (min-width: 590px) {
        .logo {
            margin-top: 0.5rem;
            width: 30rem;
        }
        .modal_btn {
            margin-top: 0.3rem;
        }
    }

    //desktop design
    @media (min-width: 768px) {
        &__instructions {
            justify-content: space-around;

            width: 100%;
            margin: 0;
            padding: 0;

            &-title {
                font-size: 42px; // Larger font for desktop
                margin: 0;
            }

            &-list {
                flex: 1;

                text-align: center;
            }

            &-item {
                font-size: 20px;
            }

            &-btn-trigger {
                padding: 0;
                padding: 0.5rem 0.5rem 0.25rem 0.5rem;
                font-size: 1.2rem;

                a {
                    text-decoration: none;
                }
            }
        }
    }
}

.how_it_works__headline {
    text-align: center;
    padding: 0;
    margin: 0 0 0.5rem 0;
}

.modal_btn__container {
    align-self: flex-end;
    .modal_btn__container__btn {
        @include buttonStyle;
        padding: 0;
        padding: 0.35rem 0.5rem 0.2rem 0.5rem;
        cursor: pointer;
    }
}

.button-clicked__text {
    background: rgba($randorande1, 0.8);
    border-radius: 4px;
    padding: 1rem;
    color: $randorande7;
    li {
        list-style-type: none;
        line-height: 1.2rem;
        margin-bottom: 0.2rem;
    }
}


