main {
    //mobile dimensions
    
    // BELOW recommendd additions
    display: flex;
    align-items: center;
    flex-direction: column;

    flex: 1;
    width: 100%;
    align-self: center;
    justify-content: center;
    

    //desktop
    @media (min-width: 768px) {}
}