.not-found-page {
    @include flexCol;
    justify-content: flex-start;
    margin: 2rem;
    background-color: rgba(255, 255, 255, 0.36);
    color: $randorande1;
    padding: 1rem;
    max-width: 95%;

    &__heading {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 400;
    }

    &__text {
        text-align: center;
        font-size: 1.5rem;
        padding: 0 2.2rem;
    }

    &__button {
        margin: 2rem;

        button {
            height: 3rem;
            width: 8rem;
            @include buttonStyle;
            padding: 0.5rem 1rem;


            .not-found-page__link {
                text-decoration: none;
                font-size: 1rem;
                color: $randorande1;
                text-transform: uppercase;

            }

        }
    }

    &__img {
        height: 6rem;
        width: 10rem;
        font-size: 5rem;
        text-align: center;
    }

    //desktop design
    @media (min-width: 768px) {
        margin: 3rem;
        max-width: 90%;

        &__heading {
            margin-top: 5rem;
            font-size: 3rem;
            font-weight: 600;
        }

        &__text {
            text-align: center;
            font-size: 1.5rem;
        }

        &__button {
            margin: 2rem;

            button {
                height: 3rem;
                width: 8rem;
                @include buttonStyle;
                padding: 0.5rem 0.4rem1rem;

                .not-found-page__link {
                    text-decoration: none;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 1rem;

                    color: $randorande1;
                }

            }
        }

        &__img {
            height: 6rem;
            width: 10rem;
            font-size: 5rem;
            text-align: center;
        }
    }

}