.registration {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.register_headline {
    text-align: center;
    padding: 0;
    margin: 3rem 0 0.5rem 0;
    color: $randorande1;
}

.login_reminder {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.labels_and_inputs__container {
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
    background: rgba(0, 0, 0, 0.3);
    color: $randorande7;
    width: fit-content;
    box-shadow: 0 10px 13px -7px rgba(0, 0, 0, .4), 0 0 5px 2px transparent;
    max-width: 80%;
}

.register_instructions {
    text-align: center;
    margin-bottom: 0.8rem;
    margin-top: 0;
}

.login_btn2 {
    @include buttonStyle;
    margin: auto;
    text-align: center;
    padding: 0.8rem 0.7rem 0.5rem 0.7rem;
    cursor: pointer;
    text-decoration: none;
    // background: rgb(242, 241, 241);
    color: black;
    box-shadow: 0 10px 13px -7px rgba(0, 0, 0, .4), 0 0 5px 2px transparent;
}

.register_btn {
    @include buttonStyle;
    padding: 0.8rem 0.7rem 0.55rem 0.7rem;
}

.input_row {
    display: flex;
    align-items: center;
}

.input_row__label {
    text-align: left;
    width: 45%;
}

.input_row__input {
    width: 50%;
    border-radius: 4px;
    border: 1px solid black;
    background: $randorande9;
    max-height: 20px;

    &:focus {
        outline: none;
        background: white;
        color: $randorande2;
    }
}

.register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
}

.over_18_row {
    width: 40%;
    margin: 0 auto;
}

.input_row__label_age-checker {
    text-align: right;
    white-space: nowrap;
}

.input_row__input_age-checker {
    width: fit-content;
    margin-left: 0.5rem;
}

.errors {
    color: red;
    font-weight: bold;
    margin-top: -0.9rem;
    text-align: center;
}

.errors__age {
    color: red;
    font-weight: bold;
    margin-bottom: -0.9rem;
    text-align: center;
}