.register_headline {
    text-align: center;
}

.register_instructions {
    text-align: center;
}

.register_btn { 
    margin: auto;
    text-align: center;
}


.register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
}

.input_row {
    display: flex;

}