.faq-container {
  background-color: rgba(255, 255, 255, 0.500);
  color: $randorande1;
  padding: 1rem;
  max-width: 80%;

  margin: 1rem; // Center the container
  margin-top: 3rem;
  text-align: left; // Align text to the left

  section {
    margin-bottom: 20px; // Add space between sections
    padding-left: 0;
  }

  .faq-heading {
    margin-bottom: 20px; // Add space below the heading
    padding-top: 1rem;
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: $randorande2;
  }

  h2 {
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 2em;

  }

  h3 {
    font-weight: bold;
  }

  p {
    font-size: 1.1em;
    margin-left: 1em;


  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-left: 1em;

    li {
      position: relative;


      p {
        margin-left: 0;


        &:before {
          position: absolute;
          left: -1.5em;
        }
      }
    }
  }

  a {
    color: black;
    text-decoration: underline;
  }


  @media (min-width: 768px) {

    padding: 3rem;
    //width: 50%;
    max-width: 60%;
    margin: 3rem; // Center the container
    text-align: left; // Align text to the left

    section {
      margin-bottom: 20px; // Add space between sections
      padding-left: 2rem;
    }

    .faq-heading {
      margin-bottom: 20px; // Add space below the heading
      padding-top: 1rem;
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      color: $randorande2;
    }

    h2 {
      font-size: 1.7em;
      font-weight: bold;
      margin-top: 2em;

    }

    h3 {
      font-weight: bold;
    }

    p {
      font-size: 1.1em;
      margin-left: 3em;


    }

    ul {
      list-style: none;
      padding-left: 0;
      margin-left: 3em;

      li {
        position: relative;


        p {
          margin-left: 0;


          &:before {
            position: absolute;
            left: -1.5em;
          }
        }
      }
    }

    a {
      color: black;
      text-decoration: underline;
    }
  }
}